//------Main Fonts-----//
$fontOperetta8: "Operetta8";
$fontHelvetica-B: "Helvetica-Bold";
$fontHelvetica: "Helvetica";

//-----Colors----//
$olive__1: #CFD3B8;
$olive__2: #F3E8D2;
$orange: #BD8737;
$green_haki: #4E4A33;
$green__1:#A39F8A;
$gray: #8F8F8F;

$white__1: #F5F2EA;
$white:#FFFFFF;
